[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "xpose.xtras"]
	path = xpose.xtras
	url = https://github.com/jprybylski/xpose.xtras
